/*

Theme Name: NOO JobMonster Child Theme
Theme URI: http://nootheme.com/
Author: NooTheme
Author URI: http://nootheme.com/
Description: This is a custom child theme for NOO JobMonster
Template: noo-jobmonster
Version: 1.0.0
Tags: two-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, sticky-post, theme-options, translation-ready
Text Domain: noo
*/

.post-type-archive-noo_job .noo-sidebar.col-md-4 {
	float: right;
}
.post-type-archive-noo_job .noo-main.col-md-8 {
	float: left;
}
.jobs .hentry.noo_job {
	padding: 1.942857em;
}
.jobs .hentry.noo_job:nth-child(2n+1) {
	background: #ebeeef;
}

.post-type-archive-noo_job .btn-loadmore {
	background-color: #77adc4;
}

.label-_noo_job_field__tel span {
	margin-left: 20px;
	padding: 0.71428571em 2.28571429em;
	border-radius: 4px;
	background-color: #77adc4;
	cursor: pointer;
	font-size: 14px;
}
/*.job-desc .job-custom-fields .value-_noo_job_field__tel {
	display: none;
}
.label-_noo_job_field__tel.active span {
	pointer-events: none;
}*/



@media (min-width: 991px) {
	body.home .colophon.site-info {
	position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
}

@media (max-width: 799px) {
	.widget_noo_advanced_job_search_widget .widget-title ,
	.noo-job-category-widget .widget-title {
		margin-bottom: 0;
		transition: .3s;
	}
	.widget_noo_advanced_job_search_widget .widget-advanced-search,
	.noo-job-category-widget ul {
		display: none;
		transition: .3s;
	}
	.widget_noo_advanced_job_search_widget.active .widget-title,
	.noo-job-category-widget.active .widget-title {
		margin-bottom: 30px;    
	}
	.widget_noo_advanced_job_search_widget.active .widget-advanced-search,
	.noo-job-category-widget.active ul {
		display: block;
	}
	.noo-sidebar {
		width: 100%;
		margin-bottom: 15px;
	}
	.noo-job-category-widget {
		padding-bottom: 0!important;
	}
	.noo-main {
		width: 100%;
	}
	.noo-sidebar .widget-title:first-child {
		background-color: #77adc4;
		padding: 7px 17px;
		border-radius: 4px;
	}
}

@media (min-width: 1231px){
	.navbar:not(.navbar-shrink) .navbar-nav > li > a {
	    line-height: 70px;
	}
}
@media (max-width: 599px) {

	.post-type-archive-noo_job .noo-main.col-md-8 {
		padding-left: 0;
		padding-right: 0;
	}
	.post-type-archive-noo_job .jobs .hentry.noo_job {
		padding-left: 15px;
    	padding-right: 14px;
    	padding-top: 25px;
    	padding-bottom: 15px;
	}
	.post-type-archive-noo_job .noo-main.col-md-8 .posts-loop-title h3 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.post-type-archive-noo_job .noo-main.col-md-8 .loadmore-action {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.member-manage-table .table thead,
	.member-manage-table .table tbody,
	.member-manage-table .table thead tr,
	.member-manage-table .table tbody tr,
	.member-manage-table .table {
		display: block;
		width: 100%;
		float: left;
	}
	.member-manage-table .table tbody td,
	.member-manage-table .table th {
		display: inline-block;
		float: left;
	}

	.member-manage .job-manage-app,
	.member-manage .job-manage-expires {
		display: none!important;
	}
	.member-manage-table tr th:nth-child(5) {
		display: none!important;
	}
	.member-manage-table .table tbody tr td:nth-child(1),
	.member-manage-table .table thead tr th:nth-child(1) {
		padding: 15px 0;
		width: 10%;
		border: none;
	}
	.member-manage-table .table thead tr th:nth-child(2) {
		width: 50%;
		border: none;
	}
	.member-manage-table .table thead tr th:nth-child(6) {
		width: 40%;
		border: none;
	}
	.member-manage-table .table thead tr th:nth-child(7) {
		display: none;
	}
	.member-manage-table .table tbody tr td:nth-child(2) {
		width: 50%;
		border: none;
	}
	.member-manage-table .table tbody tr td:nth-child(6) {
		width: 40%;
		border: none;
	}
	.member-manage-table .table tbody tr td:nth-child(7) {
		width: 90%;
		border: none;
		padding-top: 0;
		margin-left: 9px;
		text-align: left;
	}
	.member-manage-table .table tbody tr td .jm-status {
	    max-width: 100%;
    	word-wrap: break-word;
	}
	.member-manage .member-manage-actions {
	    white-space: normal;
	}
	.member-manage-table .table tbody tr {
		border-bottom: 1px solid #77adc4;
	}
	.member-manage-table.appl_table .table tbody tr td:nth-child(1) {
		width: 40%;
	}
	.member-manage-table.appl_table .table tbody tr td:nth-child(6),
	.member-manage-table.appl_table .table tbody tr td:nth-child(4),
	.member-manage-table.appl_table .table tbody tr td:nth-child(2) {
		display: none;
	}
	.member-manage-table.appl_table .table tbody tr td:nth-child(3) strong,
	.member-manage-table.appl_table .table tbody tr td:nth-child(3) {
		display: inline-block!important;
	}
	.member-manage-table.appl_table .table tbody tr td:nth-child(3) {
		width: 60%;
		border: none;
	}
	.member-manage-table.appl_table .table tbody tr td:nth-child(7) {
		display: inline-block!important;
		width: 100%;
		margin: 0;
	}
	.member-manage-table.appl_table .table thead tr th:nth-child(1) {
		width: 40%;
	}
	.member-manage-table.appl_table .table thead tr th:nth-child(7),
	.member-manage-table.appl_table .table thead tr th:nth-child(6),
	.member-manage-table.appl_table .table thead tr th:nth-child(5),
	.member-manage-table.appl_table .table thead tr th:nth-child(4),
	.member-manage-table.appl_table .table thead tr th:nth-child(2) {
		display: none;
	}
	.member-manage-table.appl_table .table thead tr th:nth-child(3) {
		display: inline-block!important;
		border: none;
	}
}

/*Nikolay*/
#post_job_form .wysihtml5-toolbar {
	display: none;
}
@media (max-width: 991px){
	.noo-company .company-desc {
		margin-top: 15px;
	}
}


@media (max-width: 600px){
	.job-preview-notice {
		max-width: 100%;
	}
	.jpanel-body {
		padding: 40px;
	}
}
@media (max-width: 490px){
	.job-preview-actions button.btn-primary {
		margin-top: 20px;
	}
}