/*
 * woocommerce
 */
/* =Custom Font
-------------------------------------------------------------- */
@font-face {
  font-family: 'star';
  src: url('../fonts/star.eot');
  src: url('../fonts/star.eot?#iefix') format('embedded-opentype'), url('../fonts/star.woff') format('woff'), url('../fonts/star.ttf') format('truetype'), url('../fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WooCommerce';
  src: url('../fonts/WooCommerce.eot');
  src: url('../fonts/WooCommerce.eot?#iefix') format('embedded-opentype'), url('../fonts/WooCommerce.woff') format('woff'), url('../fonts/WooCommerce.ttf') format('truetype'), url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
  font-weight: normal;
  font-style: normal;
}
.woocommerce {
  /* =General Layout Styles
	-------------------------------------------------------------- */
  /* =Product Page
	-------------------------------------------------------------- */
  /* =Product Loops
	-------------------------------------------------------------- */
  /* =Cart Page
	-------------------------------------------------------------- */
  /* =Forms
	-------------------------------------------------------------- */
}
.woocommerce .col2-set {
  width: 100%;
}
.woocommerce .col2-set:before,
.woocommerce .col2-set:after {
  content: " ";
  display: table;
}
.woocommerce .col2-set:after {
  clear: both;
}
.woocommerce .col2-set .col-1 {
  float: left;
  width: 48%;
}
.woocommerce .col2-set .col-2 {
  float: right;
  width: 48%;
}
.woocommerce img {
  height: auto;
  max-width: 100%;
}
.woocommerce div.product div.images {
  overflow: hidden;
  position: relative;
}
.woocommerce div.product div.thumbnails:before,
.woocommerce div.product div.thumbnails:after {
  content: " ";
  display: table;
}
.woocommerce div.product div.thumbnails:after {
  clear: both;
}
.woocommerce div.product div.thumbnails a {
  float: left;
  margin-right: 3.8%;
}
.woocommerce div.product div.thumbnails a.last {
  margin-right: 0;
}
.woocommerce div.product div.thumbnails a.first {
  clear: both;
}
.woocommerce div.product div.summary .product_meta {
  margin-top: 1em;
}
.woocommerce div.product .yith-wcwl-add-to-wishlist {
  font-size: 12px;
}
.woocommerce div.product .content-share {
  position: relative;
  margin-top: 1em;
}
.woocommerce #quantity {
  /* Disable input[type=number] buttons until the world is ready */
}
.woocommerce #quantity input::-webkit-outer-spin-button,
.woocommerce #quantity input::-webkit-inner-spin-button {
  display: none;
}
.woocommerce .related:before,
.woocommerce .upsells.products:before,
.woocommerce .related:after,
.woocommerce .upsells.products:after {
  content: " ";
  display: table;
}
.woocommerce .related:after,
.woocommerce .upsells.products:after {
  clear: both;
}
.woocommerce .related ul.products,
.woocommerce .upsells.products ul.products {
  margin-top: 1em;
}
.woocommerce ul.products {
  clear: both;
}
.woocommerce ul.products:before,
.woocommerce ul.products:after {
  content: " ";
  display: table;
}
.woocommerce ul.products:after {
  clear: both;
}
.woocommerce ul.products li.product {
  float: left;
  margin: 0 3.8% 2.992em 0;
  padding: 0;
  position: relative;
  width: 22.15%;
  margin-left: 0;
}
.woocommerce ul.products li.first {
  clear: both;
}
.woocommerce ul.products li.last {
  margin-right: 0;
}
.woocommerce ul.products.products-slidebar li.product {
  width: 30.8%;
}
.woocommerce ul.products.products-slidebar li.first {
  clear: none;
}
.woocommerce ul.products.products-slidebar .product-container a.button {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 6px 15px;
  margin: 0px 5px;
}
.woocommerce.columns-1 ul.products li.product {
  width: 100%;
  margin-right: 0;
}
.woocommerce.columns-2 ul.products li.product {
  width: 48%;
}
.woocommerce.columns-3 ul.products li.product {
  width: 30.75%;
}
.woocommerce.columns-5 ul.products li.product {
  width: 16.95%;
}
.woocommerce.columns-6 ul.products li.product {
  width: 13.5%;
}
.woocommerce .woocommerce-result-count {
  float: left;
}
.woocommerce .woocommerce-ordering {
  float: right;
}
.woocommerce table.cart img {
  height: auto;
}
.woocommerce table.cart td.actions {
  text-align: right;
}
.woocommerce table.cart td.actions .input-text {
  width: 150px;
}
.woocommerce table.cart td.actions .coupon {
  float: left;
}
.woocommerce table.cart td.actions .coupon label {
  display: none;
}
.woocommerce .cart-collaterals {
  width: 100%;
}
.woocommerce .cart-collaterals:before,
.woocommerce .cart-collaterals:after {
  content: " ";
  display: table;
}
.woocommerce .cart-collaterals:after {
  clear: both;
}
.woocommerce .cart-collaterals .related {
  width: 30.75%;
  float: left;
}
.woocommerce .cart-collaterals .cross-sells {
  width: 48%;
  float: left;
}
.woocommerce .cart-collaterals .cross-sells ul.products {
  float: none;
}
.woocommerce .cart-collaterals .cross-sells ul.products li {
  width: 48%;
}
.woocommerce .cart-collaterals .shipping_calculator {
  width: 48%;
  clear: right;
  float: right;
}
.woocommerce .cart-collaterals .shipping_calculator:before,
.woocommerce .cart-collaterals .shipping_calculator:after {
  content: " ";
  display: table;
}
.woocommerce .cart-collaterals .shipping_calculator:after {
  clear: both;
}
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2 {
  width: 47%;
}
.woocommerce .cart-collaterals .cart_totals {
  float: right;
  width: 48%;
  text-align: right;
}
.woocommerce form .form-row:before,
.woocommerce form .form-row:after {
  content: " ";
  display: table;
}
.woocommerce form .form-row:after {
  clear: both;
}
.woocommerce form .form-row label {
  display: block;
}
.woocommerce form .form-row label.checkbox {
  display: inline;
}
.woocommerce form .form-row select {
  display: block;
  height: 50px;
  padding: 0.42857142857142855em 1.2857142857142856em;
  font-size: 14px;
  line-height: 1.7;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  letter-spacing: 0.5px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}
.woocommerce form .form-row select:focus {
  border-color: #484848;
  outline: 0;
}
.woocommerce form .form-row select::-moz-placeholder {
  color: #c3c3c3;
  opacity: 1;
}
.woocommerce form .form-row select:-ms-input-placeholder {
  color: #c3c3c3;
}
.woocommerce form .form-row select::-webkit-input-placeholder {
  color: #c3c3c3;
}
.woocommerce form .form-row select[disabled],
.woocommerce form .form-row select[readonly],
fieldset[disabled] .woocommerce form .form-row select {
  cursor: not-allowed;
  background-color: #dedede;
  opacity: 1;
}
textarea.woocommerce form .form-row select {
  height: auto;
}
.woocommerce form .form-row .input-text {
  display: block;
  height: 50px;
  padding: 0.42857142857142855em 1.2857142857142856em;
  font-size: 14px;
  line-height: 1.7;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  letter-spacing: 0.5px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.woocommerce form .form-row .input-text:focus {
  border-color: #484848;
  outline: 0;
}
.woocommerce form .form-row .input-text::-moz-placeholder {
  color: #c3c3c3;
  opacity: 1;
}
.woocommerce form .form-row .input-text:-ms-input-placeholder {
  color: #c3c3c3;
}
.woocommerce form .form-row .input-text::-webkit-input-placeholder {
  color: #c3c3c3;
}
.woocommerce form .form-row .input-text[disabled],
.woocommerce form .form-row .input-text[readonly],
fieldset[disabled] .woocommerce form .form-row .input-text {
  cursor: not-allowed;
  background-color: #dedede;
  opacity: 1;
}
textarea.woocommerce form .form-row .input-text {
  height: auto;
}
.woocommerce form .form-row textarea.input-text {
  height: auto;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last {
  float: left;
  width: 47%;
  overflow: visible;
}
.woocommerce form .form-row-last {
  float: right;
}
.woocommerce form .form-row-wide {
  clear: both;
}
.woocommerce #payment .form-row select {
  width: auto;
}
.woocommerce #payment .terms {
  text-align: right;
  padding: 0 1em 0;
}
.woocommerce #payment #place_order {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0 solid transparent;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7142857142857143em 2.2857142857142856em;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  float: right;
  background-image: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  background-color: #2e2e2e;
  color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.woocommerce #payment #place_order:focus,
.woocommerce #payment #place_order:active:focus,
.woocommerce #payment #place_order.active:focus {
  outline: none;
}
.woocommerce #payment #place_order:hover,
.woocommerce #payment #place_order:focus {
  color: #44494b;
  text-decoration: none;
}
.woocommerce #payment #place_order:active,
.woocommerce #payment #place_order.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.woocommerce #payment #place_order.disabled,
.woocommerce #payment #place_order[disabled],
fieldset[disabled] .woocommerce #payment #place_order {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce #payment #place_order.square {
  border-radius: 0;
}
.woocommerce #payment #place_order.pill {
  border-radius: 100em;
}
.woocommerce #payment #place_order.rounded {
  border-radius: 0.225em;
}
.woocommerce #payment #place_order.btn-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.woocommerce #payment #place_order.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  color: #57666e;
}
.woocommerce #payment #place_order.btn-white:hover > i {
  color: #57666e !important;
}
.woocommerce #payment #place_order.btn-black {
  background: none repeat scroll 0 0 #333333;
  color: white;
}
.woocommerce #payment #place_order.btn-black:hover {
  background-color: #2b2b2b;
}
.woocommerce #payment #place_order i {
  padding-right: 10px;
}
.woocommerce #payment #place_order.icon-right i {
  padding-left: 10px;
  padding-right: 0px;
}
.woocommerce #payment #place_order:hover {
  background-color: #484848;
  color: #ffffff;
}
@media (max-width: 991px) {
  .woocommerce ul.products li.product {
    width: 30.8% !important;
    margin: 0 3.8% 2.992em 0;
  }
  .woocommerce ul.products li.product.frist {
    clear: none;
  }
  .woocommerce ul.products li.product.last {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .woocommerce ul.products li.product {
    width: 100% !important;
    margin: 0 0 2.992em 0;
    float: none;
    clear: none;
  }
}
@media (max-width: 767px) {
  .woocommerce {
    /**
		 * General layout
		 */
    /**
		 * Product Details
		 */
    /**
		 * Cart
		 */
    /**
		 * Checkout
		 */
    /**
		 * Account
		 */
  }
  .woocommerce .col2-set .col-1,
  .woocommerce .col2-set .col-2 {
    float: none;
    width: 100%;
  }
  .woocommerce div.product div.images,
  .woocommerce div.product div.summary {
    float: none;
    width: 100%;
  }
  .woocommerce table.cart .product-thumbnail {
    display: none;
  }
  .woocommerce table.cart td.actions {
    text-align: left;
  }
  .woocommerce table.cart td.actions .coupon {
    float: none;
    padding-bottom: .5em;
  }
  .woocommerce table.cart td.actions .coupon:before,
  .woocommerce table.cart td.actions .coupon:after {
    content: " ";
    display: table;
  }
  .woocommerce table.cart td.actions .coupon:after {
    clear: both;
  }
  .woocommerce table.cart td.actions input,
  .woocommerce table.cart td.actions .button,
  .woocommerce table.cart td.actions .input-text {
    width: 48%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .woocommerce table.cart td.actions .input-text + .button,
  .woocommerce table.cart td.actions .button.alt {
    float: right;
  }
  .woocommerce .cart-collaterals .cart_totals,
  .woocommerce .cart-collaterals .shipping_calculator,
  .woocommerce .cart-collaterals .cross-sells {
    width: 100%;
    float: none;
    text-align: left;
  }
  .woocommerce.woocommerce-checkout form.login .form-row {
    width: 100%;
    float: none;
  }
  .woocommerce #payment .terms {
    text-align: left;
    padding: 0;
  }
  .woocommerce #payment #place_order {
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  .woocommerce .lost_reset_password .form-row-first,
  .woocommerce .lost_reset_password .form-row-last {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}
/* =Global styles/layout
-------------------------------------------------------------- */
p.demo_store {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
  color: #ffffff;
  z-index: 1049;
  background: #2e2e2e;
}
/* =Utilities
-------------------------------------------------------------- */
.wc-forward:after,
.wc-forward a:after {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: 7px;
  content: "\e029";
  font-size: .7em;
}
.wc-backward:before,
.wc-backward a:before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  content: "\e02f";
  font-size: .7em;
}
/* =Main Styles (namespace to avoid conflict with common global class names)
-------------------------------------------------------------- */
.woocommerce {
  /* =Product Page
	-------------------------------------------------------------- */
  /* Sale labels */
  /* =Product Loops
	-------------------------------------------------------------- */
  /* =Quantity inputs
	-------------------------------------------------------------- */
  /* =Reviews/comments
	-------------------------------------------------------------- */
  /* Star rating */
  /* =Tables
	-------------------------------------------------------------- */
  /* =Cart
	-------------------------------------------------------------- */
  /* =Cart Sidebar
	-------------------------------------------------------------- */
  /* =Cart Page
	-------------------------------------------------------------- */
  /* =Forms
	-------------------------------------------------------------- */
  /* =Checkout
	-------------------------------------------------------------- */
  /* Payment box - appears on checkout and page page */
  /* =Order Page
	-------------------------------------------------------------- */
  /* =Account Page
	-------------------------------------------------------------- */
  /* =Layered Nav Widget
	-------------------------------------------------------------- */
  /* =Price Filter Widget
	-------------------------------------------------------------- */
}
.woocommerce table {
  width: 100%;
}
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info {
  padding: 1em 1em 1em 3.5em !important;
  margin: 0 0 2em !important;
  position: relative;
  border: 1px solid #cccccc;
  list-style: none outside !important;
  width: auto;
}
.woocommerce .woocommerce-message:before,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:after,
.woocommerce .woocommerce-error:after,
.woocommerce .woocommerce-info:after {
  content: " ";
  display: table;
}
.woocommerce .woocommerce-message:after,
.woocommerce .woocommerce-error:after,
.woocommerce .woocommerce-info:after {
  clear: both;
}
.woocommerce .woocommerce-message:before,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before {
  content: "";
  height: 1.5em;
  width: 1.5em;
  display: block;
  position: absolute;
  top: 0;
  left: 1em;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  padding-top: 1em;
}
.woocommerce .woocommerce-message .button,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button {
  float: right;
}
.woocommerce .woocommerce-message li,
.woocommerce .woocommerce-error li,
.woocommerce .woocommerce-info li {
  list-style: none outside !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.woocommerce .woocommerce-message {
  border-top: 3px solid #3c763d;
}
.woocommerce .woocommerce-message:before {
  color: #3c763d;
  content: "\f058";
  font-family: "fontawesome";
}
.woocommerce .woocommerce-info {
  border-top: 3px solid #31708f;
}
.woocommerce .woocommerce-info:before {
  color: #31708f;
  content: "\f05a";
  font-family: "fontawesome";
}
.woocommerce .woocommerce-error {
  border-top: 3px solid #a94442;
}
.woocommerce .woocommerce-error:before {
  color: #a94442;
  content: "\f057";
  font-family: "fontawesome";
}
.woocommerce small.note {
  display: block;
  color: #44494b;
  font-size: 11px;
  line-height: 21px;
  margin-top: 10px;
}
.woocommerce div.product {
  margin-bottom: 0;
  position: relative;
  /* Main product title */
  /* Price */
  /* Stock */
  /* Product image and thumbnail */
  /* Summary div (contains title, price etc) */
  /* Social networking */
  /* Tabs on the product page */
  /* Cart button */
  /* add to cart forms */
}
.woocommerce div.product .product_title {
  clear: none;
  margin-top: 0;
  padding: 0;
}
.woocommerce div.product span.price,
.woocommerce div.product p.price {
  font-size: 30px;
  font-weight: 300;
  color: #2e2e2e;
}
.woocommerce div.product span.price ins,
.woocommerce div.product p.price ins {
  float: left;
  margin-right: 5px;
  text-decoration: none;
}
.woocommerce div.product span.price del,
.woocommerce div.product p.price del {
  font-size: 0.67em;
  color: rgba(46, 46, 46, 0.5);
}
.woocommerce div.product p.stock {
  font-size: 0.92em;
}
.woocommerce div.product .stock {
  color: #2e2e2e;
}
.woocommerce div.product .out-of-stock {
  color: red;
}
.woocommerce div.product div.images {
  margin-bottom: 2em;
}
.woocommerce div.product div.images div.thumbnails {
  padding-top: 1em;
}
.woocommerce div.product div.summary {
  margin-bottom: 2em;
}
.woocommerce div.product div.summary .cart .button:before,
.woocommerce div.product div.summary .cart input.button:before {
  content: "\f07a";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.woocommerce div.product div.social {
  text-align: right;
  margin: 0 0 1em;
}
.woocommerce div.product div.social span {
  margin: 0 0 0 2px;
}
.woocommerce div.product div.social span span {
  margin: 0;
}
.woocommerce div.product div.social span .stButton .chicklets {
  padding-left: 16px;
  width: 0;
}
.woocommerce div.product div.social iframe {
  float: left;
  margin-top: 3px;
}
.woocommerce div.product .woocommerce-tabs {
  margin-top: 1em;
  margin-bottom: 1em;
}
.woocommerce div.product .woocommerce-tabs .nav-tabs > li > a {
  text-transform: uppercase;
  padding: 0.7rem 1.2rem;
}
.woocommerce div.product .woocommerce-tabs .tab-pane h2 {
  display: none;
}
.woocommerce div.product p.cart {
  margin-bottom: 2em;
}
.woocommerce div.product p.cart:before,
.woocommerce div.product p.cart:after {
  content: " ";
  display: table;
}
.woocommerce div.product p.cart:after {
  clear: both;
}
.woocommerce div.product form.cart {
  margin-top: 2em;
}
.woocommerce div.product form.cart:before,
.woocommerce div.product form.cart:after {
  content: " ";
  display: table;
}
.woocommerce div.product form.cart:after {
  clear: both;
}
.woocommerce div.product form.cart div.quantity {
  float: left;
  margin: 0 1em 0 0;
}
.woocommerce div.product form.cart table {
  border-width: 0 0 0px 0;
}
.woocommerce div.product form.cart table td {
  padding-left: 0;
}
.woocommerce div.product form.cart table div.quantity {
  float: none;
  margin: 0;
}
.woocommerce div.product form.cart table small.stock {
  display: block;
  float: none;
}
.woocommerce div.product form.cart .variations {
  margin-bottom: 1em;
  width: auto;
}
.woocommerce div.product form.cart .variations label {
  font-weight: bold;
}
.woocommerce div.product form.cart .variations select {
  width: auto;
  display: block;
  margin-bottom: 5px;
}
.woocommerce div.product form.cart .variations td.label {
  padding-right: 1em;
}
.woocommerce div.product form.cart .variations td.label label {
  margin: 0;
  color: #44494b;
}
.woocommerce div.product form.cart .variations td {
  vertical-align: bottom;
}
.woocommerce div.product form.cart .button {
  vertical-align: middle;
  float: left;
}
.woocommerce div.product form.cart .group_table td.label {
  padding-right: 1em;
  padding-left: 1em;
}
.woocommerce div.product form.cart .group_table td {
  vertical-align: top;
  padding-bottom: .5em;
}
.woocommerce span.onsale {
  position: absolute;
  top: -33px;
  left: -70px;
  display: block;
  width: 150px;
  height: 80px;
  font-size: 14px;
  line-height: 130px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  background-color: #2e2e2e;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 100;
}
.woocommerce span.out_of_stock {
  background: none repeat scroll 0 0 #b3b3b3;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  font-size: 12px;
  font-weight: 400;
  height: 64px;
  padding: 15px 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  text-transform: uppercase;
  top: 10px;
  width: 64px;
  z-index: 100;
}
.woocommerce .products ul,
.woocommerce ul.products {
  margin: 0 0 1em;
  padding: 0;
  list-style: none outside;
  clear: both;
}
.woocommerce .products ul:before,
.woocommerce ul.products:before,
.woocommerce .products ul:after,
.woocommerce ul.products:after {
  content: " ";
  display: table;
}
.woocommerce .products ul:after,
.woocommerce ul.products:after {
  clear: both;
}
.woocommerce .products ul li,
.woocommerce ul.products li {
  list-style: none outside;
}
.woocommerce ul.products li.product h3 {
  padding: .5em 0;
  margin: 0;
  font-size: 1.2857142857142858em;
}
.woocommerce ul.products li.product figure {
  position: relative;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.woocommerce ul.products li.product figure .product-wrap {
  position: relative;
  display: block;
}
.woocommerce ul.products li.product figure .product-wrap .product-images {
  position: relative;
  overflow: hidden;
}
.woocommerce ul.products li.product figure .product-wrap .product-images > a {
  position: relative;
  display: block;
}
.woocommerce ul.products li.product figure .product-wrap .product-images .noo-product-thumbnail {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 8;
}
.woocommerce ul.products li.product figure .product-wrap .product-images .noo-product-thumbnail img {
  display: block;
  height: auto;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 100%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  opacity: 1;
  filter: alpha(opacity=100);
}
.woocommerce ul.products li.product figure .product-wrap .product-images .noo-product-thumbnail.noo-product-front-thumbnail {
  z-index: 10;
  position: relative;
}
.woocommerce ul.products li.product figure .product-wrap .product-images .noo-product-thumbnail.noo-product-back-thumbnail {
  position: absolute;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions {
  position: absolute;
  bottom: -35px;
  left: 0;
  z-index: 20;
  -webkit-transition: bottom 0.2s linear 0s;
  -o-transition: bottom 0.2s linear 0s;
  transition: bottom 0.2s linear 0s;
  line-height: 35px;
}
@media (max-width: 767px) {
  .woocommerce ul.products li.product figure .product-wrap .shop-loop-actions {
    display: none;
  }
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions a {
  white-space: pre-wrap;
  display: inline-block;
  background-color: #fff;
  color: #44494b;
  width: 35px;
  height: 35px;
  float: left;
  position: relative;
  text-indent: -999em;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions a:before {
  width: 35px;
  height: 35px;
  text-align: center;
  display: block;
  line-height: 35px !important;
  position: absolute !important;
  left: 0;
  top: 0;
  text-indent: 0;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions a:hover {
  color: #e6b706;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .button {
  text-decoration: none;
  background: #44494b;
  color: #fff;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .button:before {
  content: "\f06e";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button.product_type_variable:before {
  content: "\f03a";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button.product_type_simple:before {
  content: "\f07a";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button.loading:before {
  content: " ";
  background: url(../images/ajax-loader.gif) scroll center center no-repeat #ffffff;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button.added:before {
  content: "\f00c";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button:before {
  color: #ffffff;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .button:hover {
  color: #44494b;
  background: #e6b706;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .button:before {
  color: #ffffff;
  padding-right: 0 !important;
  text-align: center;
  display: block;
  line-height: 35px;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview {
  text-align: center;
  background: #44494b;
  color: #fff;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview:before {
  content: "\f002";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview.loading:before {
  content: " ";
  background: url(../images/ajax-loader.gif) scroll center center no-repeat #ffffff;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview:before {
  color: #ffffff;
  display: block;
  line-height: 35px;
  padding-right: 0;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview:hover {
  color: #44494b;
  background: #e6b706;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist {
  margin: 0;
  padding: 0;
  float: left;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist {
  text-indent: -999em;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:before {
  content: "\f08a";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:before {
  color: #ffffff;
  background: #44494b;
  padding-right: 0;
  text-indent: 0;
  display: block;
  line-height: 35px;
  font-weight: bold;
  position: absolute;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:hover {
  color: #44494b;
  background: #e6b706;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:hover:before {
  color: #ffffff;
  background: #e6b706;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse span.feedback,
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse span.feedback {
  display: none;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  width: auto;
  font-size: 10px;
  padding-left: 40px;
  text-indent: 0;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before {
  content: "\f00c";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before {
  background: #44494b;
  padding-right: 0;
  margin-right: 5px;
  color: #fff;
  font-size: 14px;
}
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover:before,
.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover:before {
  color: #ffffff;
  background: #e6b706;
}
.woocommerce ul.products li.product figure:hover {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #cccccc;
}
.woocommerce ul.products li.product figure:hover .product-wrap .product-images > a .noo-product-front-thumbnail img {
  opacity: 0;
  filter: alpha(opacity=0);
}
.woocommerce ul.products li.product figure:hover .shop-loop-actions {
  bottom: 0;
}
.woocommerce ul.products li.product figcaption {
  padding: 0 1.1428571428571428em;
  text-align: center;
  position: relative;
  z-index: 50;
  background-color: #ffffff;
}
.woocommerce ul.products li.product figcaption .product_title a {
  color: #44494b;
}
.woocommerce ul.products li.product figcaption .product_title a:hover {
  color: #e6b706;
}
.woocommerce ul.products li.product strong {
  display: block;
}
.woocommerce ul.products li.product .price {
  color: #2e2e2e;
  display: block;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: .5em;
}
.woocommerce ul.products li.product .price del {
  font-size: 0.8571428571428571em;
  color: rgba(46, 46, 46, 0.5);
  margin: -2px 0 0 0;
}
.woocommerce ul.products li.product .price ins {
  background: none;
  text-decoration: none;
}
.woocommerce ul.products li.product .price .from {
  font-size: 0.67em;
  margin: -2px 0 0 0;
  text-transform: uppercase;
  color: rgba(46, 46, 46, 0.5);
}
.woocommerce .product-quickview {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.woocommerce .product-quickview .modal-dialog {
  width: 90%;
  max-width: 800px;
}
.woocommerce .product-quickview .modal-dialog .modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.woocommerce .product-quickview .modal-dialog .modal-content .product .images,
.woocommerce .product-quickview .modal-dialog .modal-content .product .summary {
  width: 100%;
}
.woocommerce .woocommerce-result-count {
  margin: 0 0 1em;
}
.woocommerce .woocommerce-ordering {
  margin: 0 0 1em;
}
.woocommerce .woocommerce-ordering select {
  vertical-align: top;
}
.woocommerce .cart .button,
.woocommerce .cart input.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0 solid transparent;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7142857142857143em 2.2857142857142856em;
  line-height: 1;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  float: none;
  background-color: #c4c8ca;
  background-image: none;
  height: 40px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 14px;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #2f3339;
}
.woocommerce .cart .button:focus,
.woocommerce .cart input.button:focus,
.woocommerce .cart .button:active:focus,
.woocommerce .cart input.button:active:focus,
.woocommerce .cart .button.active:focus,
.woocommerce .cart input.button.active:focus {
  outline: none;
}
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover,
.woocommerce .cart .button:focus,
.woocommerce .cart input.button:focus {
  color: #44494b;
  text-decoration: none;
}
.woocommerce .cart .button:active,
.woocommerce .cart input.button:active,
.woocommerce .cart .button.active,
.woocommerce .cart input.button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.woocommerce .cart .button.disabled,
.woocommerce .cart input.button.disabled,
.woocommerce .cart .button[disabled],
.woocommerce .cart input.button[disabled],
fieldset[disabled] .woocommerce .cart .button,
fieldset[disabled] .woocommerce .cart input.button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce .cart .button.square,
.woocommerce .cart input.button.square {
  border-radius: 0;
}
.woocommerce .cart .button.pill,
.woocommerce .cart input.button.pill {
  border-radius: 100em;
}
.woocommerce .cart .button.rounded,
.woocommerce .cart input.button.rounded {
  border-radius: 0.225em;
}
.woocommerce .cart .button.btn-white,
.woocommerce .cart input.button.btn-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.woocommerce .cart .button.btn-white:hover,
.woocommerce .cart input.button.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  color: #57666e;
}
.woocommerce .cart .button.btn-white:hover > i,
.woocommerce .cart input.button.btn-white:hover > i {
  color: #57666e !important;
}
.woocommerce .cart .button.btn-black,
.woocommerce .cart input.button.btn-black {
  background: none repeat scroll 0 0 #333333;
  color: white;
}
.woocommerce .cart .button.btn-black:hover,
.woocommerce .cart input.button.btn-black:hover {
  background-color: #2b2b2b;
}
.woocommerce .cart .button i,
.woocommerce .cart input.button i {
  padding-right: 10px;
}
.woocommerce .cart .button.icon-right i,
.woocommerce .cart input.button.icon-right i {
  padding-left: 10px;
  padding-right: 0px;
}
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover {
  background-color: #2e2e2e;
  color: #ffffff;
}
.woocommerce .cart input.checkout-button {
  background-color: #2e2e2e;
  color: #fff;
}
.woocommerce .cart input.checkout-button:hover {
  background-color: #484848;
}
.woocommerce a.added_to_cart {
  display: none !important;
}
.woocommerce a.added_to_cart:after,
.woocommerce a.added_to_cart:before {
  display: none !important;
}
.woocommerce .quantity {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
  font-size: 16px;
  /* Hide buttons for opera */
}
.woocommerce .quantity input.qty {
  color: #2f3339;
  height: 40px;
  padding: 0 5px;
  text-align: center;
  width: 40px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #c4c8ca;
  background-image: none;
}
.woocommerce .quantity noindex:-o-prefocus,
.woocommerce .quantity input[type=number] {
  padding-right: 1.2em;
}
.woocommerce .quantity input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
.woocommerce .quantity .plus,
.woocommerce .quantity .minus {
  border: none;
  color: #2f3339;
  height: 40px;
  width: 40px;
  padding: 0.35714285714285715em 0.7142857142857143em;
  background-color: #c4c8ca;
  background-image: none;
}
.woocommerce .quantity .plus:hover,
.woocommerce .quantity .minus:hover {
  background: #2e2e2e;
  color: #ffffff;
}
.woocommerce .quantity .plus {
  border-left-width: 0;
}
.woocommerce .quantity .minus {
  border-right-width: 0;
}
.woocommerce #reviews h2 small {
  float: right;
  color: #44494b;
  font-size: 15px;
  line-height: 21px;
  margin: 10px 0 0 0;
}
.woocommerce #reviews h2 small a {
  text-decoration: none;
  color: #44494b;
}
.woocommerce #reviews h3 {
  margin: 0;
}
.woocommerce #reviews #respond {
  margin: 0;
  border: 0;
  padding: 0;
}
.woocommerce #reviews #comment {
  height: 75px;
}
.woocommerce #reviews #comments .add_review:before,
.woocommerce #reviews #comments .add_review:after {
  content: " ";
  display: table;
}
.woocommerce #reviews #comments .add_review:after {
  clear: both;
}
.woocommerce #reviews #comments h2 {
  clear: none;
}
.woocommerce #reviews #comments ol.commentlist {
  margin: 0;
  padding: 0;
  width: 100%;
  background: none;
  list-style: none;
}
.woocommerce #reviews #comments ol.commentlist:before,
.woocommerce #reviews #comments ol.commentlist:after {
  content: " ";
  display: table;
}
.woocommerce #reviews #comments ol.commentlist:after {
  clear: both;
}
.woocommerce #reviews #comments ol.commentlist li {
  padding: 0;
  margin: 0 0 20px;
  position: relative;
  background: 0;
  border: 0;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
  color: #44494b;
  font-size: 0.75em;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: 32px;
  height: auto;
  border: 1px solid #f6f6f6;
  margin: 0;
  line-height: 1;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin: 0 0 0 50px;
  border: 1px solid #f6f6f6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 1em 1em 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:before,
.woocommerce #reviews #comments ol.commentlist li .comment-text:after {
  content: " ";
  display: table;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:after {
  clear: both;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
  margin: 0 0 1em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 0.83em;
}
.woocommerce #reviews #comments ol.commentlist ul.children {
  list-style: none outside;
  margin: 20px 0 0 50px;
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating {
  display: none;
}
.woocommerce #reviews #comments ol.commentlist #respond {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 1em 1em 0;
  margin: 20px 0 0 50px;
}
.woocommerce #reviews #comments .commentlist > li:before {
  content: "";
}
.woocommerce .star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 14px;
  line-height: 1em;
  font-size: 12px;
  width: 5.5em;
  font-family: 'star';
}
.woocommerce .star-rating:before {
  content: "\73\73\73\73\73";
  color: #2e2e2e;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.woocommerce .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
  color: #2e2e2e;
}
.woocommerce .star-rating span:before {
  content: "\53\53\53\53\53";
  top: 0;
  position: absolute;
  left: 0;
}
.woocommerce .woocommerce-product-rating {
  display: block;
  margin-bottom: 1.6428571428571428em;
  margin-top: 0.8214285714285714em;
}
.woocommerce .woocommerce-product-rating .woocommerce-review-link {
  font-size: 12px;
}
.woocommerce .woocommerce-product-rating .star-rating {
  margin: .5em 4px 0 0;
  float: left;
}
.woocommerce .products .star-rating {
  display: block;
  margin: 0 auto .5em;
  float: none;
}
.woocommerce .hreview-aggregate .star-rating {
  margin: 10px 0 0 0;
}
.woocommerce #review_form #respond {
  position: static;
  margin: 0;
  width: auto;
  padding: 0 0 0;
  background: transparent none;
  border: 0;
}
.woocommerce #review_form #respond:before,
.woocommerce #review_form #respond:after {
  content: " ";
  display: table;
}
.woocommerce #review_form #respond:after {
  clear: both;
}
.woocommerce #review_form #respond p {
  margin: 0 0 10px;
}
.woocommerce #review_form #respond .form-submit input {
  left: auto;
}
.woocommerce #review_form #respond textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%;
}
.woocommerce p.stars {
  position: relative;
  font-size: 1em;
}
.woocommerce p.stars a {
  display: inline-block;
  margin-right: 1em;
  text-indent: -9999px;
  position: relative;
  color: #bbb;
  font-size: 14px;
}
.woocommerce p.stars a:last-child {
  border-right: 0;
}
.woocommerce p.stars a.star-1,
.woocommerce p.stars a.star-2,
.woocommerce p.stars a.star-3,
.woocommerce p.stars a.star-4,
.woocommerce p.stars a.star-5 {
  border-right: 1px solid #ccc;
}
.woocommerce p.stars a.star-1:after,
.woocommerce p.stars a.star-2:after,
.woocommerce p.stars a.star-3:after,
.woocommerce p.stars a.star-4:after,
.woocommerce p.stars a.star-5:after {
  font-family: "WooCommerce";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.woocommerce p.stars a.star-1 {
  width: 2em;
}
.woocommerce p.stars a.star-1:after {
  content: "\e021";
}
.woocommerce p.stars a.star-1:hover:after,
.woocommerce p.stars a.star-1.active:after {
  content: "\e020";
}
.woocommerce p.stars a.star-2 {
  width: 3em;
}
.woocommerce p.stars a.star-2:after {
  content: "\e021\e021";
}
.woocommerce p.stars a.star-2:hover:after,
.woocommerce p.stars a.star-2.active:after {
  content: "\e020\e020";
}
.woocommerce p.stars a.star-3 {
  width: 4em;
}
.woocommerce p.stars a.star-3:after {
  content: "\e021\e021\e021";
}
.woocommerce p.stars a.star-3:hover:after,
.woocommerce p.stars a.star-3.active:after {
  content: "\e020\e020\e020";
}
.woocommerce p.stars a.star-4 {
  width: 5em;
}
.woocommerce p.stars a.star-4:after {
  content: "\e021\e021\e021\e021";
}
.woocommerce p.stars a.star-4:hover:after,
.woocommerce p.stars a.star-4.active:after {
  content: "\e020\e020\e020\e020";
}
.woocommerce p.stars a.star-5 {
  width: 6em;
  border: 0;
}
.woocommerce p.stars a.star-5:after {
  content: "\e021\e021\e021\e021\e021";
}
.woocommerce p.stars a.star-5:hover:after,
.woocommerce p.stars a.star-5.active:after {
  content: "\e020\e020\e020\e020\e020";
}
.woocommerce table.shop_attributes {
  border: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1.618em;
  width: 100%;
}
.woocommerce table.shop_attributes th {
  width: 150px;
  font-weight: bold;
  padding: 8px;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5em;
}
.woocommerce table.shop_attributes td {
  font-style: italic;
  padding: 0;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5em;
}
.woocommerce table.shop_attributes td p {
  margin: 0;
  padding: 8px 0;
}
.woocommerce table.shop_attributes .alt td,
.woocommerce table.shop_attributes .alt th {
  background: rgba(0, 0, 0, 0.025);
}
.woocommerce table.my_account_orders {
  font-size: 0.85em;
}
.woocommerce table.my_account_orders th,
.woocommerce table.my_account_orders td {
  padding: 4px 8px;
  vertical-align: middle;
}
.woocommerce table.my_account_orders .button {
  white-space: nowrap;
}
.woocommerce table.my_account_orders .order-actions {
  text-align: right;
}
.woocommerce table.my_account_orders .order-actions .button {
  margin: .125em 0 .125em .25em;
}
.woocommerce td.product-name dl.variation {
  margin: .25em 0;
}
.woocommerce td.product-name dl.variation:before,
.woocommerce td.product-name dl.variation:after {
  content: " ";
  display: table;
}
.woocommerce td.product-name dl.variation:after {
  clear: both;
}
.woocommerce td.product-name dl.variation dt,
.woocommerce td.product-name dl.variation dd {
  display: inline-block;
  float: left;
  margin-bottom: 1em;
}
.woocommerce td.product-name dl.variation dt {
  font-weight: bold;
  padding: 0 0 .25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
.woocommerce td.product-name dl.variation dd {
  padding: 0 0 .25em 0;
}
.woocommerce td.product-name dl.variation dd p:last-child {
  margin-bottom: 0;
}
.woocommerce td.product-name p.backorder_notification {
  font-size: 0.83em;
}
.woocommerce td.product-quantity {
  min-width: 80px;
}
.woocommerce table.cart .product-thumbnail {
  min-width: 32px;
}
.woocommerce table.cart img {
  width: 32px;
}
.woocommerce table.cart th,
.woocommerce table.cart td {
  vertical-align: middle;
}
.woocommerce table.cart a.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.woocommerce table.cart a.remove:hover {
  background-color: red;
  color: #fff;
}
.woocommerce table.cart td.actions .coupon .input-text {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.42857142857142855em 1.2857142857142856em;
  font-size: 14px;
  line-height: 1.7;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  letter-spacing: 0.5px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  display: inline-block;
  width: 48%;
  float: left;
}
.woocommerce table.cart td.actions .coupon .input-text:focus {
  border-color: #484848;
  outline: 0;
}
.woocommerce table.cart td.actions .coupon .input-text::-moz-placeholder {
  color: #c3c3c3;
  opacity: 1;
}
.woocommerce table.cart td.actions .coupon .input-text:-ms-input-placeholder {
  color: #c3c3c3;
}
.woocommerce table.cart td.actions .coupon .input-text::-webkit-input-placeholder {
  color: #c3c3c3;
}
.woocommerce table.cart td.actions .coupon .input-text[disabled],
.woocommerce table.cart td.actions .coupon .input-text[readonly],
fieldset[disabled] .woocommerce table.cart td.actions .coupon .input-text {
  cursor: not-allowed;
  background-color: #dedede;
  opacity: 1;
}
textarea.woocommerce table.cart td.actions .coupon .input-text {
  height: auto;
}
.woocommerce table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1em;
}
@media (max-width: 767px) {
  .woocommerce table.cart input.qty {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
  padding: 10px 0;
  margin: 0;
  list-style: none;
}
.woocommerce ul.cart_list li:before,
.woocommerce ul.product_list_widget li:before,
.woocommerce ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after {
  content: " ";
  display: table;
}
.woocommerce ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after {
  clear: both;
}
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  display: block;
  font-weight: bold;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: auto;
}
.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl {
  margin: 0;
  padding-left: 1em;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.woocommerce ul.cart_list li dl:before,
.woocommerce ul.product_list_widget li dl:before,
.woocommerce ul.cart_list li dl:after,
.woocommerce ul.product_list_widget li dl:after {
  content: " ";
  display: table;
}
.woocommerce ul.cart_list li dl:after,
.woocommerce ul.product_list_widget li dl:after {
  clear: both;
}
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt,
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd {
  display: inline-block;
  float: left;
  margin-botom: 1em;
}
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt {
  font-weight: bold;
  padding: 0 0 .25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd {
  padding: 0 0 .25em 0;
}
.woocommerce ul.cart_list li dl dd p:last-child,
.woocommerce ul.product_list_widget li dl dd p:last-child {
  margin-bottom: 0;
}
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
  float: none;
}
.woocommerce.widget_product_categories ul.product-categories > li:before {
  content: '\f0da';
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.woocommerce.widget_product_categories ul.product-categories > li,
.woocommerce.widget_product_categories ul.product-categories > li:last-child,
.woocommerce.widget_product_categories ul.product-categories > li:first-child {
  border: none;
  padding: 5px 0;
}
.woocommerce.widget_product_categories ul.product-categories > li ul.children {
  padding-left: 20px;
}
.woocommerce.widget_product_categories ul.product-categories > li ul.children li {
  border: none;
  padding: 5px 0;
}
.woocommerce.widget_product_categories ul.product-categories > li ul.children li:last-child {
  padding-bottom: 0;
}
.woocommerce.widget_product_search #s {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.42857142857142855em 1.2857142857142856em;
  font-size: 14px;
  line-height: 1.7;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  letter-spacing: 0.5px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.woocommerce.widget_product_search #s:focus {
  border-color: #484848;
  outline: 0;
}
.woocommerce.widget_product_search #s::-moz-placeholder {
  color: #c3c3c3;
  opacity: 1;
}
.woocommerce.widget_product_search #s:-ms-input-placeholder {
  color: #c3c3c3;
}
.woocommerce.widget_product_search #s::-webkit-input-placeholder {
  color: #c3c3c3;
}
.woocommerce.widget_product_search #s[disabled],
.woocommerce.widget_product_search #s[readonly],
fieldset[disabled] .woocommerce.widget_product_search #s {
  cursor: not-allowed;
  background-color: #dedede;
  opacity: 1;
}
textarea.woocommerce.widget_product_search #s {
  height: auto;
}
.woocommerce.widget_product_search #searchsubmit,
.woocommerce.widget_product_search .screen-reader-text {
  display: none;
}
.woocommerce.widget_shopping_cart .total,
.woocommerce .widget_shopping_cart .total {
  border-top: 1px solid #cccccc;
  padding: 4px 0 0;
  color: #44494b;
}
.woocommerce.widget_shopping_cart .total strong,
.woocommerce .widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.woocommerce.widget_shopping_cart .buttons:before,
.woocommerce .widget_shopping_cart .buttons:before,
.woocommerce.widget_shopping_cart .buttons:after,
.woocommerce .widget_shopping_cart .buttons:after {
  content: " ";
  display: table;
}
.woocommerce.widget_shopping_cart .buttons:after,
.woocommerce .widget_shopping_cart .buttons:after {
  clear: both;
}
.woocommerce.widget_shopping_cart .buttons .button,
.woocommerce .widget_shopping_cart .buttons .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0 solid transparent;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7142857142857143em 2.2857142857142856em;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  background-color: #c4c8ca;
  background-image: none;
  font-size: 0.8571428571428571em;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #2f3339;
}
.woocommerce.widget_shopping_cart .buttons .button:focus,
.woocommerce .widget_shopping_cart .buttons .button:focus,
.woocommerce.widget_shopping_cart .buttons .button:active:focus,
.woocommerce .widget_shopping_cart .buttons .button:active:focus,
.woocommerce.widget_shopping_cart .buttons .button.active:focus,
.woocommerce .widget_shopping_cart .buttons .button.active:focus {
  outline: none;
}
.woocommerce.widget_shopping_cart .buttons .button:hover,
.woocommerce .widget_shopping_cart .buttons .button:hover,
.woocommerce.widget_shopping_cart .buttons .button:focus,
.woocommerce .widget_shopping_cart .buttons .button:focus {
  color: #44494b;
  text-decoration: none;
}
.woocommerce.widget_shopping_cart .buttons .button:active,
.woocommerce .widget_shopping_cart .buttons .button:active,
.woocommerce.widget_shopping_cart .buttons .button.active,
.woocommerce .widget_shopping_cart .buttons .button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.woocommerce.widget_shopping_cart .buttons .button.disabled,
.woocommerce .widget_shopping_cart .buttons .button.disabled,
.woocommerce.widget_shopping_cart .buttons .button[disabled],
.woocommerce .widget_shopping_cart .buttons .button[disabled],
fieldset[disabled] .woocommerce.widget_shopping_cart .buttons .button,
fieldset[disabled] .woocommerce .widget_shopping_cart .buttons .button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce.widget_shopping_cart .buttons .button.square,
.woocommerce .widget_shopping_cart .buttons .button.square {
  border-radius: 0;
}
.woocommerce.widget_shopping_cart .buttons .button.pill,
.woocommerce .widget_shopping_cart .buttons .button.pill {
  border-radius: 100em;
}
.woocommerce.widget_shopping_cart .buttons .button.rounded,
.woocommerce .widget_shopping_cart .buttons .button.rounded {
  border-radius: 0.225em;
}
.woocommerce.widget_shopping_cart .buttons .button.btn-white,
.woocommerce .widget_shopping_cart .buttons .button.btn-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.woocommerce.widget_shopping_cart .buttons .button.btn-white:hover,
.woocommerce .widget_shopping_cart .buttons .button.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  color: #57666e;
}
.woocommerce.widget_shopping_cart .buttons .button.btn-white:hover > i,
.woocommerce .widget_shopping_cart .buttons .button.btn-white:hover > i {
  color: #57666e !important;
}
.woocommerce.widget_shopping_cart .buttons .button.btn-black,
.woocommerce .widget_shopping_cart .buttons .button.btn-black {
  background: none repeat scroll 0 0 #333333;
  color: white;
}
.woocommerce.widget_shopping_cart .buttons .button.btn-black:hover,
.woocommerce .widget_shopping_cart .buttons .button.btn-black:hover {
  background-color: #2b2b2b;
}
.woocommerce.widget_shopping_cart .buttons .button i,
.woocommerce .widget_shopping_cart .buttons .button i {
  padding-right: 10px;
}
.woocommerce.widget_shopping_cart .buttons .button.icon-right i,
.woocommerce .widget_shopping_cart .buttons .button.icon-right i {
  padding-left: 10px;
  padding-right: 0px;
}
.woocommerce.widget_shopping_cart .buttons .button:hover,
.woocommerce .widget_shopping_cart .buttons .button:hover {
  background: #2e2e2e;
  color: #ffffff;
}
.woocommerce.widget_shopping_cart .buttons .button:after,
.woocommerce .widget_shopping_cart .buttons .button:after {
  display: none;
}
.woocommerce .cart-collaterals h2 {
  font-size: 22px;
  font-weight: normal;
}
.woocommerce .cart-collaterals .shipping_calculator .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0 solid transparent;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7142857142857143em 2.2857142857142856em;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  width: 100%;
  display: block;
  float: none;
  background-color: #c4c8ca;
  background-image: none;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  color: #2f3339;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.woocommerce .cart-collaterals .shipping_calculator .button:focus,
.woocommerce .cart-collaterals .shipping_calculator .button:active:focus,
.woocommerce .cart-collaterals .shipping_calculator .button.active:focus {
  outline: none;
}
.woocommerce .cart-collaterals .shipping_calculator .button:hover,
.woocommerce .cart-collaterals .shipping_calculator .button:focus {
  color: #44494b;
  text-decoration: none;
}
.woocommerce .cart-collaterals .shipping_calculator .button:active,
.woocommerce .cart-collaterals .shipping_calculator .button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.woocommerce .cart-collaterals .shipping_calculator .button.disabled,
.woocommerce .cart-collaterals .shipping_calculator .button[disabled],
fieldset[disabled] .woocommerce .cart-collaterals .shipping_calculator .button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce .cart-collaterals .shipping_calculator .button.square {
  border-radius: 0;
}
.woocommerce .cart-collaterals .shipping_calculator .button.pill {
  border-radius: 100em;
}
.woocommerce .cart-collaterals .shipping_calculator .button.rounded {
  border-radius: 0.225em;
}
.woocommerce .cart-collaterals .shipping_calculator .button.btn-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.woocommerce .cart-collaterals .shipping_calculator .button.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  color: #57666e;
}
.woocommerce .cart-collaterals .shipping_calculator .button.btn-white:hover > i {
  color: #57666e !important;
}
.woocommerce .cart-collaterals .shipping_calculator .button.btn-black {
  background: none repeat scroll 0 0 #333333;
  color: white;
}
.woocommerce .cart-collaterals .shipping_calculator .button.btn-black:hover {
  background-color: #2b2b2b;
}
.woocommerce .cart-collaterals .shipping_calculator .button i {
  padding-right: 10px;
}
.woocommerce .cart-collaterals .shipping_calculator .button.icon-right i {
  padding-left: 10px;
  padding-right: 0px;
}
.woocommerce .cart-collaterals .shipping_calculator .button:hover {
  background-color: #2e2e2e;
  color: #ffffff;
}
.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: 7px;
  content: "\e02e";
}
.woocommerce .cart-collaterals .cart_totals p {
  margin: 0;
}
.woocommerce .cart-collaterals .cart_totals p small {
  color: #44494b;
  font-size: 0.83em;
}
.woocommerce .cart-collaterals .cart_totals table {
  border-collapse: separate;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 6px;
  padding: 0;
}
.woocommerce .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce .cart-collaterals .cart_totals table tr:first-child td {
  border-top: 0;
}
.woocommerce .cart-collaterals .cart_totals table th {
  padding: 6px 12px 0 0;
  width: 25%;
}
.woocommerce .cart-collaterals .cart_totals table td {
  padding: 6px 0;
}
.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce .cart-collaterals .cart_totals table th {
  vertical-align: top;
}
.woocommerce .cart-collaterals .cart_totals table small {
  display: block;
  color: #44494b;
}
.woocommerce .cart-collaterals .cart_totals table select {
  width: 100%;
}
.woocommerce .cart-collaterals .cart_totals .discount td {
  color: #2e2e2e;
}
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th {
  border-top: 1px solid #cccccc;
}
.woocommerce .cart-collaterals .cart_totals a.button.alt {
  display: inline-block;
}
.woocommerce .cart-collaterals .cross-sells ul.products li.product {
  margin-top: 0;
}
.woocommerce form .form-row {
  padding: 3px;
  margin: 0 0 6px;
}
.woocommerce form .form-row button.button,
.woocommerce form .form-row input.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0 solid transparent;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7142857142857143em 2.2857142857142856em;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  float: none;
  background-color: #c4c8ca;
  background-image: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.woocommerce form .form-row button.button:focus,
.woocommerce form .form-row input.button:focus,
.woocommerce form .form-row button.button:active:focus,
.woocommerce form .form-row input.button:active:focus,
.woocommerce form .form-row button.button.active:focus,
.woocommerce form .form-row input.button.active:focus {
  outline: none;
}
.woocommerce form .form-row button.button:hover,
.woocommerce form .form-row input.button:hover,
.woocommerce form .form-row button.button:focus,
.woocommerce form .form-row input.button:focus {
  color: #44494b;
  text-decoration: none;
}
.woocommerce form .form-row button.button:active,
.woocommerce form .form-row input.button:active,
.woocommerce form .form-row button.button.active,
.woocommerce form .form-row input.button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.woocommerce form .form-row button.button.disabled,
.woocommerce form .form-row input.button.disabled,
.woocommerce form .form-row button.button[disabled],
.woocommerce form .form-row input.button[disabled],
fieldset[disabled] .woocommerce form .form-row button.button,
fieldset[disabled] .woocommerce form .form-row input.button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce form .form-row button.button.square,
.woocommerce form .form-row input.button.square {
  border-radius: 0;
}
.woocommerce form .form-row button.button.pill,
.woocommerce form .form-row input.button.pill {
  border-radius: 100em;
}
.woocommerce form .form-row button.button.rounded,
.woocommerce form .form-row input.button.rounded {
  border-radius: 0.225em;
}
.woocommerce form .form-row button.button.btn-white,
.woocommerce form .form-row input.button.btn-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.woocommerce form .form-row button.button.btn-white:hover,
.woocommerce form .form-row input.button.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  color: #57666e;
}
.woocommerce form .form-row button.button.btn-white:hover > i,
.woocommerce form .form-row input.button.btn-white:hover > i {
  color: #57666e !important;
}
.woocommerce form .form-row button.button.btn-black,
.woocommerce form .form-row input.button.btn-black {
  background: none repeat scroll 0 0 #333333;
  color: white;
}
.woocommerce form .form-row button.button.btn-black:hover,
.woocommerce form .form-row input.button.btn-black:hover {
  background-color: #2b2b2b;
}
.woocommerce form .form-row button.button i,
.woocommerce form .form-row input.button i {
  padding-right: 10px;
}
.woocommerce form .form-row button.button.icon-right i,
.woocommerce form .form-row input.button.icon-right i {
  padding-left: 10px;
  padding-right: 0px;
}
.woocommerce form .form-row button.button:hover,
.woocommerce form .form-row input.button:hover {
  background-color: #2e2e2e;
  color: #ffffff;
}
.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease;
  -moz-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
.woocommerce form .form-row label {
  line-height: 2em;
}
.woocommerce form .form-row label.hidden {
  visibility: hidden;
}
.woocommerce form .form-row label.inline {
  display: inline;
}
.woocommerce form .form-row select {
  cursor: pointer;
  margin: 0;
}
.woocommerce form .form-row .required {
  color: red;
  font-weight: bold;
  border: 0;
}
.woocommerce form .form-row .input-checkbox {
  display: inline;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  display: block;
  height: 50px;
  padding: 0.42857142857142855em 1.2857142857142856em;
  font-size: 14px;
  line-height: 1.7;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  letter-spacing: 0.5px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  height: auto;
}
.woocommerce form .form-row input.input-text:focus,
.woocommerce form .form-row textarea:focus {
  border-color: #484848;
  outline: 0;
}
.woocommerce form .form-row input.input-text::-moz-placeholder,
.woocommerce form .form-row textarea::-moz-placeholder {
  color: #c3c3c3;
  opacity: 1;
}
.woocommerce form .form-row input.input-text:-ms-input-placeholder,
.woocommerce form .form-row textarea:-ms-input-placeholder {
  color: #c3c3c3;
}
.woocommerce form .form-row input.input-text::-webkit-input-placeholder,
.woocommerce form .form-row textarea::-webkit-input-placeholder {
  color: #c3c3c3;
}
.woocommerce form .form-row input.input-text[disabled],
.woocommerce form .form-row textarea[disabled],
.woocommerce form .form-row input.input-text[readonly],
.woocommerce form .form-row textarea[readonly],
fieldset[disabled] .woocommerce form .form-row input.input-text,
fieldset[disabled] .woocommerce form .form-row textarea {
  cursor: not-allowed;
  background-color: #dedede;
  opacity: 1;
}
textarea.woocommerce form .form-row input.input-text,
textarea.woocommerce form .form-row textarea {
  height: auto;
}
.woocommerce form .form-row textarea {
  height: 4em;
  line-height: 1.5em;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
}
.woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-single,
.woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-drop,
.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce form .form-row.validate-required.woocommerce-invalid select {
  border-color: #fb7f88;
}
.woocommerce form .form-row ::-webkit-input-placeholder {
  line-height: normal;
}
.woocommerce form .form-row :-moz-placeholder {
  line-height: normal;
}
.woocommerce form .form-row :-ms-input-placeholder {
  line-height: normal;
}
.woocommerce form .form-row .chosen-container-single .chosen-single {
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce form .form-row .chosen-container-single .chosen-single div b {
  background-position: 0 10px !important;
}
.woocommerce form .form-row .chosen-container-single .chosen-drop {
  background: #ffffff;
  color: #555555;
}
.woocommerce form.login,
.woocommerce form.checkout_coupon,
.woocommerce form.register {
  border: 1px solid #cccccc;
  padding: 20px;
  margin: 2em 0 2em 0px;
  text-align: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.woocommerce ul#shipping_method {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.woocommerce ul#shipping_method li {
  margin: 0;
  padding: .25em 0 .25em 22px;
  text-indent: -22px;
  list-style: none outside;
}
.woocommerce ul#shipping_method .amount {
  font-weight: bold;
}
.woocommerce p.woocommerce-shipping-contents {
  margin: 0;
}
.woocommerce .checkout .h3 {
  font-size: 22px;
  font-weight: normal;
}
.woocommerce .checkout .col-2 h3#ship-to-different-address label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
}
.woocommerce .checkout .col-2 .notes {
  clear: left;
}
.woocommerce .checkout .col-2 .form-row-first {
  clear: left;
}
.woocommerce .checkout .create-account small {
  font-size: 11px;
  color: #44494b;
  line-height: 13px;
  font-weight: normal;
}
.woocommerce .checkout div.shipping-address {
  padding: 0;
  clear: left;
  width: 100%;
}
.woocommerce .checkout .shipping_address {
  clear: both;
}
.woocommerce #payment ul.payment_methods {
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid #cccccc;
  margin: 0;
  list-style: none outside;
}
.woocommerce #payment ul.payment_methods:before,
.woocommerce #payment ul.payment_methods:after {
  content: " ";
  display: table;
}
.woocommerce #payment ul.payment_methods:after {
  clear: both;
}
.woocommerce #payment ul.payment_methods li {
  line-height: 2em;
  text-align: left;
  margin: 0;
  font-weight: normal;
}
.woocommerce #payment ul.payment_methods li input {
  margin: 0 1em 0 0;
}
.woocommerce #payment ul.payment_methods li img {
  vertical-align: middle;
  margin: -2px 0 0 0.5em;
  position: relative;
}
.woocommerce #payment div.form-row {
  padding: 1em;
  border-top: 1px solid #cccccc;
}
.woocommerce #payment div.payment_box {
  position: relative;
  width: 96%;
  padding: 1em 2%;
  margin: 1em 0 1em 0;
  font-size: 0.92em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.5em;
  background-color: #f7f7f7;
  color: #777777;
}
.woocommerce #payment div.payment_box input.input-text,
.woocommerce #payment div.payment_box textarea {
  border-color: #cccccc;
  border-top-color: #b3b3b3;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
}
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc {
  font-size: 1.5em;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: right;
}
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number.visa,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry.visa,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc.visa {
  background-image: url(../images/icons/credit-cards/visa.png);
}
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number.mastercard,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry.mastercard,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc.mastercard {
  background-image: url(../images/icons/credit-cards/mastercard.png);
}
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number.laser,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry.laser,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc.laser {
  background-image: url(../images/icons/credit-cards/laser.png);
}
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number.dinersclub,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry.dinersclub,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc.dinersclub {
  background-image: url(../images/icons/credit-cards/diners.png);
}
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number.maestro,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry.maestro,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc.maestro {
  background-image: url(../images/icons/credit-cards/maestro.png);
}
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number.jcb,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry.jcb,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc.jcb {
  background-image: url(../images/icons/credit-cards/jcb.png);
}
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number.amex,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry.amex,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc.amex {
  background-image: url(../images/icons/credit-cards/amex.png);
}
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number.discover,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry.discover,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc.discover {
  background-image: url(../images/icons/credit-cards/discover.png);
}
.woocommerce #payment div.payment_box span.help {
  font-size: 11px;
  color: #44494b;
  line-height: 13px;
  font-weight: normal;
}
.woocommerce #payment div.payment_box .form-row {
  margin: 0 0 1em;
}
.woocommerce #payment div.payment_box p:last-child {
  margin-bottom: 0;
}
.woocommerce #payment div.payment_box:after {
  content: "";
  display: block;
  border: 8px solid #f7f7f7;
  /* arrow size / color */
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -1px;
  left: 0;
  margin: -1em 0 0 2em;
}
.woocommerce .order_details {
  margin: 0 0 1.5em;
  list-style: none;
}
.woocommerce .order_details:before,
.woocommerce .order_details:after {
  content: " ";
  display: table;
}
.woocommerce .order_details:after {
  clear: both;
}
.woocommerce .order_details li {
  float: left;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1em;
  border-right: 1px dashed #cccccc;
  padding-right: 2em;
}
.woocommerce .order_details li strong {
  display: block;
  font-size: 1.4em;
  text-transform: none;
  line-height: 1.5em;
}
.woocommerce .order_details li:last-of-type {
  border: none;
}
.woocommerce .addresses .title:before,
.woocommerce .addresses .title:after {
  content: " ";
  display: table;
}
.woocommerce .addresses .title:after {
  clear: both;
}
.woocommerce .addresses .title h3 {
  float: left;
}
.woocommerce .addresses .title .edit {
  float: right;
}
.woocommerce ol.commentlist.notes li.note p.meta {
  font-weight: bold;
  margin-bottom: 0;
}
.woocommerce ol.commentlist.notes li.note .description p:last-child {
  margin-bottom: 0;
}
.woocommerce ul.digital-downloads {
  margin-left: 0;
  padding-left: 0;
}
.woocommerce ul.digital-downloads li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.woocommerce ul.digital-downloads li:before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  content: "\e00a";
}
.woocommerce ul.digital-downloads li .count {
  float: right;
}
.woocommerce .widget_layered_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}
.woocommerce .widget_layered_nav ul li {
  padding: 0 0 1px;
  list-style: none;
}
.woocommerce .widget_layered_nav ul li:before,
.woocommerce .widget_layered_nav ul li:after {
  content: " ";
  display: table;
}
.woocommerce .widget_layered_nav ul li:after {
  clear: both;
}
.woocommerce .widget_layered_nav ul li a,
.woocommerce .widget_layered_nav ul li span {
  padding: 1px 0;
  float: left;
}
.woocommerce .widget_layered_nav ul li.chosen a {
  text-decoration: none;
  background: #2e2e2e;
  color: #44494b;
  font-size: 0.8571428571428571em;
  padding: 0.42857142857142855em 0.8571428571428571em;
}
.woocommerce .widget_layered_nav ul li.chosen a:before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  content: "\e013";
}
.woocommerce .widget_layered_nav ul li.chosen a:hover {
  color: #fff;
  background: #e6b706;
}
.woocommerce .widget_layered_nav ul small.count {
  float: right;
  margin-left: 6px;
  font-size: 1em;
  padding: 1px 0;
  color: #44494b;
}
.woocommerce .widget_layered_nav_filters ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
  overflow: hidden;
  zoom: 1;
}
.woocommerce .widget_layered_nav_filters ul li {
  float: left;
  padding: 0 1px 1px 0;
  list-style: none;
  border: none;
}
.woocommerce .widget_layered_nav_filters ul li a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0 solid transparent;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7142857142857143em 2.2857142857142856em;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  background-color: #2e2e2e;
  background-image: none;
  font-size: 0.8571428571428571em;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #2f3339;
}
.woocommerce .widget_layered_nav_filters ul li a:focus,
.woocommerce .widget_layered_nav_filters ul li a:active:focus,
.woocommerce .widget_layered_nav_filters ul li a.active:focus {
  outline: none;
}
.woocommerce .widget_layered_nav_filters ul li a:hover,
.woocommerce .widget_layered_nav_filters ul li a:focus {
  color: #44494b;
  text-decoration: none;
}
.woocommerce .widget_layered_nav_filters ul li a:active,
.woocommerce .widget_layered_nav_filters ul li a.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.woocommerce .widget_layered_nav_filters ul li a.disabled,
.woocommerce .widget_layered_nav_filters ul li a[disabled],
fieldset[disabled] .woocommerce .widget_layered_nav_filters ul li a {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce .widget_layered_nav_filters ul li a.square {
  border-radius: 0;
}
.woocommerce .widget_layered_nav_filters ul li a.pill {
  border-radius: 100em;
}
.woocommerce .widget_layered_nav_filters ul li a.rounded {
  border-radius: 0.225em;
}
.woocommerce .widget_layered_nav_filters ul li a.btn-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.woocommerce .widget_layered_nav_filters ul li a.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  color: #57666e;
}
.woocommerce .widget_layered_nav_filters ul li a.btn-white:hover > i {
  color: #57666e !important;
}
.woocommerce .widget_layered_nav_filters ul li a.btn-black {
  background: none repeat scroll 0 0 #333333;
  color: white;
}
.woocommerce .widget_layered_nav_filters ul li a.btn-black:hover {
  background-color: #2b2b2b;
}
.woocommerce .widget_layered_nav_filters ul li a i {
  padding-right: 10px;
}
.woocommerce .widget_layered_nav_filters ul li a.icon-right i {
  padding-left: 10px;
  padding-right: 0px;
}
.woocommerce .widget_layered_nav_filters ul li a:hover {
  background: #484848;
  color: #ffffff;
}
.woocommerce .widget_layered_nav_filters ul li a:before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  content: "\e013";
}
.woocommerce .widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.woocommerce .widget_price_filter .price_slider_amount {
  text-align: right;
  font-size: 14px;
  color: #44494b;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0 solid transparent;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7142857142857143em 2.2857142857142856em;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  background-color: #c4c8ca;
  background-image: none;
  font-size: 0.8571428571428571em;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #2f3339;
}
.woocommerce .widget_price_filter .price_slider_amount .button:focus,
.woocommerce .widget_price_filter .price_slider_amount .button:active:focus,
.woocommerce .widget_price_filter .price_slider_amount .button.active:focus {
  outline: none;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce .widget_price_filter .price_slider_amount .button:focus {
  color: #44494b;
  text-decoration: none;
}
.woocommerce .widget_price_filter .price_slider_amount .button:active,
.woocommerce .widget_price_filter .price_slider_amount .button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.woocommerce .widget_price_filter .price_slider_amount .button.disabled,
.woocommerce .widget_price_filter .price_slider_amount .button[disabled],
fieldset[disabled] .woocommerce .widget_price_filter .price_slider_amount .button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce .widget_price_filter .price_slider_amount .button.square {
  border-radius: 0;
}
.woocommerce .widget_price_filter .price_slider_amount .button.pill {
  border-radius: 100em;
}
.woocommerce .widget_price_filter .price_slider_amount .button.rounded {
  border-radius: 0.225em;
}
.woocommerce .widget_price_filter .price_slider_amount .button.btn-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.woocommerce .widget_price_filter .price_slider_amount .button.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  color: #57666e;
}
.woocommerce .widget_price_filter .price_slider_amount .button.btn-white:hover > i {
  color: #57666e !important;
}
.woocommerce .widget_price_filter .price_slider_amount .button.btn-black {
  background: none repeat scroll 0 0 #333333;
  color: white;
}
.woocommerce .widget_price_filter .price_slider_amount .button.btn-black:hover {
  background-color: #2b2b2b;
}
.woocommerce .widget_price_filter .price_slider_amount .button i {
  padding-right: 10px;
}
.woocommerce .widget_price_filter .price_slider_amount .button.icon-right i {
  padding-left: 10px;
  padding-right: 0px;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover {
  background: #2e2e2e;
  color: #ffffff;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
  float: left;
}
.woocommerce .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: pointer;
  outline: none;
  top: -0.2em;
  background: #e8e8e8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #2e2e2e;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #eeeeee;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: .5em;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
.mobile-minicart-icon {
  margin-right: 10px;
}
.navbar .navbar-header .mobile-minicart-icon {
  background: none;
  min-width: 25px;
  min-height: 25px;
  color: #2e2e2e;
}
.navbar .navbar-header .mobile-minicart-icon:hover,
.navbar .navbar-header .mobile-minicart-icon:focus {
  color: #080808;
}
.navbar .navbar-header .mobile-minicart-icon span {
  font-size: 14px;
  display: inline-block;
  color: #2e2e2e;
  line-height: 1;
  font-weight: 600;
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
@media (max-width: 991px) {
  .navbar .navbar-header .mobile-minicart-icon {
    display: table;
  }
  .navbar .navbar-header .mobile-minicart-icon .fa {
    display: table-cell;
    vertical-align: middle;
  }
}
.noo-menu-item-cart {
  position: relative;
}
@media (max-width: 991px) {
  .noo-menu-item-cart {
    display: none !important;
  }
}
.noo-menu-item-cart .cart-item {
  position: relative;
}
.noo-menu-item-cart .cart-item span {
  font-size: 90%;
  position: absolute;
  color: #2e2e2e;
  right: -10px;
  top: -6px;
  line-height: 1;
}
.noo-menu-item-cart .noo-minicart {
  display: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  z-index: 9999;
  position: absolute;
  border-color: #ddd;
  width: 300px;
  right: 0px;
  -webkit-box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.1);
  box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.1);
  background: #fff;
  top: 100%;
}
.noo-menu-item-cart .noo-minicart:before {
  position: absolute;
  display: block;
  content: "";
  top: -8px;
  right: 20px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background: #fff;
}
.noo-menu-item-cart .noo-minicart .minicart-header {
  font-size: 0.8571428571428571em;
  text-transform: uppercase;
  color: #44494b;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
.noo-menu-item-cart .noo-minicart .minicart-body {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  position: relative;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product.cart-product-remove {
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-image {
  float: left;
  margin-right: 5px;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-image img {
  max-width: 60px;
  max-height: 60px;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-details {
  float: left;
  font-size: 0.8571428571428571em;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-details .cart-product-title {
  font-weight: bold;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .remove {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #ddd;
  color: #44494b;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .remove:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.noo-menu-item-cart .noo-minicart .minicart-footer {
  padding: 10px;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-total {
  font-size: 0.8571428571428571em;
  text-transform: uppercase;
  color: #44494b;
  padding: 0 10px 10px;
  text-align: center;
  font-weight: normal;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions {
  text-align: center;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions.empty {
  text-align: left;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0 solid transparent;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  padding: 0.7142857142857143em 2.2857142857142856em;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  float: none;
  background-color: #c4c8ca;
  background-image: none;
  font-size: 0.8571428571428571em;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #2f3339;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button:focus,
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button:active:focus,
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.active:focus {
  outline: none;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button:hover,
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button:focus {
  color: #44494b;
  text-decoration: none;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button:active,
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.disabled,
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button[disabled],
fieldset[disabled] .noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.square {
  border-radius: 0;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.pill {
  border-radius: 100em;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.rounded {
  border-radius: 0.225em;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.btn-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  color: #57666e;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.btn-white:hover > i {
  color: #57666e !important;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.btn-black {
  background: none repeat scroll 0 0 #333333;
  color: white;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.btn-black:hover {
  background-color: #2b2b2b;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button i {
  padding-right: 10px;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.icon-right i {
  padding-left: 10px;
  padding-right: 0px;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button:hover {
  background: #2e2e2e;
  color: #ffffff;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.checkout-button {
  margin-left: 10px;
  background: #2e2e2e;
  color: #ffffff;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.checkout-button:hover {
  background-color: #484848;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .woocommerce a.button.loading:before,
  .woocommerce button.button.loading:before,
  .woocommerce input.button.loading:before,
  .woocommerce #respond input#submit.loading:before,
  .woocommerce #content input.button.loading:before {
    background-image: url(../images/ajax-loader@2x.gif);
    background-size: 16px 16px;
  }
}
